<h1>Editing Item Location</h1>

<%= render 'form', item_location: @item_location %>

<%= link_to 'Show', api_v1_item_location_path(@item_location) %> |
<%= link_to 'Back', api_v1_item_locations_path %>
